.container {
  max-width: var(--full-width);
  margin: auto;
}
@media (min-width: 500px) {
  .linkList {
    column-count: 2;
    width: max-content;
  }
  .linkList > li {
    padding-right: 2em;
  }
}

.tabs {
  border-radius: var(--u2);
}
.tab {
  color: #aaa;
  padding: var(--u);
  border-radius: var(--u2);
}
.tab:hover,
.tab:focus-visible[aria-selected="true"] {
  color: #fff;
}
.tabPanel {
  padding-top: var(--u3);
}

.main {
  padding: 4px;
}

.avatar {
  border-radius: 2px;
}

.nav > a {
  margin-bottom: var(--u);
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.gallery {
  display: grid;
  width: max-content;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.gallery img {
  object-fit: cover;
  object-position: 50% 25%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
