main {
  padding: 10px;
  max-width: 72ch;
  margin: auto;
}

pre {
  padding: 10px;
  border-radius: 5px;
  background: #fafafa;
  overflow-x: auto;
}

body,
p {
  background: white;
  color: black;
}

p {
  color: #333;
  font-size: 18px;
  line-height: 1.125em;
}

h1,
h2 {
  letter-spacing: -0.05em;
}

a {
  color: #444;
}
