main {
  padding: 10px;
  max-width: 72ch;
  margin: auto;
}

pre {
  padding: 10px;
  border-radius: 5px;
  background: #fafafa;
  overflow-x: auto;
}

body,
p {
  background: #fafafa;
  color: #111;
}

blockquote {
  border-left: 3px solid black;
  margin-left: 0;
  padding-left: 8px;
  padding-top: 8px;
}
blockquote :first-child {
  margin-block-start: 0;
  padding-top: 0;
}

p,
ul,
li {
  color: #333;
  font-size: 16px;
  line-height: 22px;
  text-size-adjust: 100%;
}

h1,
h2 {
  letter-spacing: -0.05em;
}

h1 {
  font-size: 48px;
}

a {
  color: #444;
  border-radius: 0;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-decoration-color: #ccc;
}
