.list {
  width: 100%;
  box-sizing: border-box;
  padding-top: 50px;
  border-left: 2px solid rgb(0 0 0 / 3%);
  border-right: 2px solid rgb(0 0 0 / 3%);
  display: grid;
  gap: 10px;
  justify-items: center;
}
.item {
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.body {
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding: 10px;
  margin-bottom: 5px;
}
.body .uri {
  letter-spacing: -0.05em;
  font-weight: 700;
  display: block;
  margin-block-end: 0;
  margin-bottom: -10px;
  line-height: 1em;
  margin-block-end: 0px;
}
.body .context {
  font-weight: 400;
  display: block;
  color: #888;
}
.body .subtitle {
  padding-top: 5px;
  line-height: 1em;
  font-weight: 500;
  color: #aaa;
}
.tag {
  /* background: #fafafa; */
  font-weight: 500;
}

.tagDetail {
  border: 2px solid rgba(255 255 255 / 21%);
  background: #111;
  padding-bottom: 8px;
  /* padding-left: 25px; */
  width: 100%;
  border-radius: 5px;
}
.tagDetail h2 {
  margin-block-start: 0;
  margin: 0;
  padding: 0;
  margin-top: 4px;
}
.tagDetail a {
  display: inline-block;
  margin: 10px;
  outline: 2px solid rgba(255 255 255 / 11%);
}
.tagDetail .header {
  display: flex;
  gap: 5px;
}
.tagDetail .badge {
  display: block;
}
.infra {
  width: max-content;
  margin: auto;
  padding: 50px 0;
}
.infra svg {
  transform: scale(2);
}
.infra svg line {
  animation: flow 30s linear;
  animation-iteration-count: infinite;
}
.linkDeleted {
  border: 2px solid red;
}
.linkDeleting {
  border: 2px solid rgb(129, 56, 56);
}
.button {
  background: #ff00001a;
  color: #ff6060;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  outline: 2px solid transparent;
}
.button:hover {
  outline: 2px solid red;
}
.hide {
  display: none;
}
.show {
  display: inline-block;
}
@keyframes flow {
  to {
    stroke-dashoffset: -200;
  }
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 50%);
  }
}
